#centerdiv{
    margin:auto;
    text-align: center;
}
#logo {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 85px;
}

main {
    size: 100%;
}

#topright {
    text-align: right;
    display: inline;
}

#searchbar {
    width: 450px;
    height: 140x;
    border-radius: 20px;
    padding: 5px;
    font-size: 24px;
    margin-top: 25px;
    border-style: solid;
    border-color: rgba(1,1,1,.1);
    border-width: 1px;
    padding-left: 15px;
    
}
#searchbar:hover{
    box-shadow: .5px 1px 1px 1px rgba(1,1,1,.1);
}
#searchbar:focus{
    box-shadow: .5px 1px 1px 1px rgba(1,1,1,.1);
    outline: 0;
}

button {
    background-color: rgba(1,1,1,.08);
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 24px;
    margin-right: 5px;
    width: 150px;
    font-size: 12px;
    color: rgba(1,1,1,.6)
}

button:hover {
    border-color: rgba(1,1,1,.08);
    color: rgba(1,1,1,.8);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 15px;
    color: rgba(1,1,1,.8);
}

.left_list {
    float: right;
}

#bottombar {
    background-color: rgba(1,1,1,.08);
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    box-shadow: 1px 0px 0px 0px;
    margin-right: 0;
}


#topbar {
    height: 75px;
    line-height: 35px;
    padding: 15px;
    font-size: 14px;
    margin-top: 0;
    padding-top: 8px;
    
}


#initial {
    background-color: darkgreen;
    color: white;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    margin-top: 0px;
}
.search-wrapper {
    position: relative;
}

.search-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
}